REACT_APP_SUPABASE_URL=https://uzxltvutiniwithnbqim.supabase.co/rest/v1/
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6eGx0dnV0aW5pd2l0aG5icWltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyNDgyMjcsImV4cCI6MjA5NDgyNDIyN30.HW0S5XGv58I2DjMKkDUOcb0ruyCOcGGBi5kFuhc5RlY


